.container{
   display: flex;
   height: 500px; 
   width: 1000px;
   border: 2px solid black;
   background-color: aqua;
   flex-direction: row; /*row revrse , column, column reverse*/
   flex-wrap: nowrap;/*nowrap,wrap reverse*/
   /*flex-flow: column wrap;/*combine above two properties*/
   justify-content: flex-start;

   /*justify content.......for main axis*/
   /*flex start(row start), flex end(pussh box to row end) ,center, space between , space around, space evenly*/
   /*align-items.......for cross axis*/
   /* flex-start,flex-end,center,stretch,baseline*/
   align-items: stretch;
   /* align-content......flex-start,flex-end,center,stretch,space between , space around*/
   /*gap,row-gap,column-gap*/
   gap: 20px;
}
.item{
    height: 200px;
    width: 200px;
    background-color: brown;
    border: 1px solid black;
    flex-grow: 1;

}
/*order=to change order of child containers*/
/*flex-grow*/
/*equally expand*/
/*flex-shrink =equally shrink*/
/*align-self*/
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;
}