.container{
    display: flex;
   height: 200px; 
   width: 300px;
   border: 2px solid black;
   background-color: aqua;
   flex-direction: row;
   flex-wrap: nowrap;
   flex-flow: column wrap;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
}