.container{
    height: 500px;
    width: 1000px;
    background-color:aqua;
    border:1px solid black;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;/*(repreat(4, 1fr)*/
    grid-template-rows: 1fr 1fr 1fr;
   /* grid-template-areas:"header header header header" "main main . sidebar""footer footer footer footer" ;*/
   gap:10px;
   justify-items: stretch;


}
.item{
   /* height:100px;
    width:100px;*/
    background-color:brown;
    border:1px solid black;
    color:white;
    text-align:center;
    align-content:center;
    justify-content: center;
    align-content: start;
}
/*.item1{
    grid-area:header;
}
.item2{
    grid-area:main;
}
.item3{
    grid-area:sidebar;
}
.item4{
    grid-area:footer;
}
/*grid -template- rows and grid-template-columns*\
/*justify items-horizontal movement (start, end , center, stretch)*/
/*align items-vertical movement (start, end, center, stretch)
justify content(start,end,center,stretch,space around,space between , space evenly)
align content(start,end,center,stretch ,space around,space between,space evenly)
place content(for both justify and align)
grid-auto-flow
justify-self(for a particular child)
align-self(for a particular child)
